@model Com.Cos.Web.Areas.Member.Models.PasswordViewModel

<div class="middleTop clearfix" style="padding-bottom: 20px;">
    <div class="title" style="border-bottom: none;">
        <span>修改密码</span>
        <img src="~/Content/img/hongjian_1.jpg">
    </div>
    <div class="baintel clearfix">
        <div class="bigh clearfix">
            @Html.LabelFor(model => model.OldPassword)
            <div class="ttrt">
                @Html.EditorFor(model => model.OldPassword)
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.OldPassword)
        <div class="bigh clearfix">
            @Html.LabelFor(model => model.PhoneMobile)
            <div class="ttrt">
                @Html.EditorFor(model => model.PhoneMobile)
                <span id="getCode" style="cursor:pointer">获取验证码</span>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.PhoneMobile)
        <div class="bigh clearfix">
            @Html.LabelFor(model => model.SMSCode)
            <div class="ttrt">
                @Html.EditorFor(model => model.SMSCode)
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.SMSCode)
        <div class="bigh clearfix">
            @Html.LabelFor(model => model.Password)
            <div class="ttrt">
                @Html.EditorFor(model => model.Password)
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.Password)
        <div class="bigh clearfix">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div class="ttrt">
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
</div>
<button id="fastmmotn">修改并保存</button>
