@model Com.Cos.Web.Areas.Member.Models.AccountViewModel
@{
    ViewBag.Title = "我的设置";

    Com.Cos.Models.Member member = ViewBag.Member;
}
@section Css
{
    <link rel="stylesheet" href="~/Content/css/libs/ReleaseCps.css">
}
<div class="big">
    <div class="content clearfix">
        <!--左侧菜单 Start-->
        @Html.Partial("_PartialLeftMenu")
        <!--左侧菜单 End-->
        <div class="middleContent" id="di">
            @using (Html.BeginForm("Account", "Member", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="middleTop clearfix" style="padding-bottom: 20px;">
                    <div class="title" style="border-bottom: none;">
                        <span>设置</span>
                        <img src="~/Content/img/hongjian_1.jpg">
                    </div>
                    <div class="centbi">
                        <div class="tipbox">
                            <div class="imghon">
                                <img src="@member.Portrait" />
                            </div>
                            <a class="xiughi" href="@Url.Action("Avatar","Member",new{Area="Member"})">修改头像》</a>
                            <div class="zilixo">
                                <span>编辑我的资料</span>
                            </div>
                        </div>

                        <div class="bottoms clearfix" id="tb">
                            @Html.Partial("_PartialAccount", Model)

                        </div>


                    </div>
                </div>
                <button id="nigbalcun">保存</button>
            }
        </div>


    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("form[action$='Account']").submit(function () {

                $.post($(this).attr("action"), $(this).serialize(), function (msg) {
                    if (msg.status == "success") {
                        swal("Good", msg.message, "success").then(function (result) {
                            window.location.reload();
                        });  
                    } else if (msg.status == "error") {
                        swal("OMG", msg.message, "error");
                    } else {
                        document.getElementById("tb").innerHTML = msg;
                    }
                    
                });

                return false;
            });
        });
    </script>
}
