@model Com.Cos.Web.Areas.Member.Models.PasswordViewModel

@{
    ViewBag.Title = "修改密码";
}
@section Css{
    <link rel="stylesheet" href="~/Content/css/libs/ReleaseCps.css">
}
<div class="big">
    <div class="content clearfix">
        <!--左侧菜单 Start-->
        @Html.Partial("_PartialLeftMenu")
        <!--左侧菜单 End-->
        <div class="middleContent">
            @using (Html.BeginForm("Password", "Member", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div id="tb">
                    @Html.Partial("_PartialPassword", Model)
                </div>

            }
        </div>
        <!--右侧 Start-->
        @*@Html.Partial("_PartialRight")*@
        <!--右侧 End-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            //获取验证码单击
            $("#getCode").click(function () {
                if ($(this).css("cursor") == "not-allowed") {
                    return false;
                }
                var reg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                var recNum = $("#PhoneMobile").val();
                if (!reg.test(recNum)) {
                    swal("OMG", "请输入有效的手机号!", "error");
                    return false;
                }
                $.get("@Url.Action("CheckPhone","Member",new{Area=""})", { phoneMobile:recNum},function(msg) {
                    if (msg) {
                        $.post("@Url.Action("MobVerificationCode","Start",new{Area=""})", { RecNum: recNum },function(msg) {
                            $("#getCode").html("已发送(<em>60</em>)").css("cursor", "not-allowed");
                                var interval = setInterval(function() {
                                        if ($("#getCode em").text() < 2) {
                                            $("#getCode").html("获取验证码").css("cursor", "pointer");
                                            clearInterval(interval);
                                            return;
                                        }
                                        $("#getCode").html("已发送(<em>" + (Number($("#getCode em").text()) - 1) + "</em>)");
                                    },
                                    1000);
                            });
                    } else {
                        swal("OMG", "未绑定的手机号", "error");
                        return false;
                    }
                });


                return false;
            });


            $("form[action$='Password']").submit(function () {

                $.post($(this).attr("action"), $(this).serialize(), function (msg) {
                    if (msg.status == "success") {
                        swal("Good", msg.message, "success").then(function (result) {
                            window.location.reload();
                        });  
                    } else if (msg.status == "error") {
                        swal("OMG", msg.message, "error");
                    } else {
                        document.getElementById("tb").innerHTML = msg;
                    }
                    
                });

                return false;
            });

        });

        
    </script>
}
