@model Com.Cos.Admin.Models.ExchangeViewModels.ExchangeDetailViewModel
@{
    ViewData["Title"] = "查看";
}

<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            @Html.LabelFor(model => model.Title, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(model => model.Title, new { @class = "input-text", @readonly = "true" })
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.Cover, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                <img src="@Model.Cover" style="width: 100px; height: 100px; display: block;"/>
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.Constitute, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(model => model.Constitute, new { @class = "input-text", @readonly = "true" })
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.Source, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(model => model.Source, new { @class = "input-text", @readonly = "true" })
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.ClassId, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    @Html.DropDownListFor(model=>model.ClassId, ViewBag.ClassList as IEnumerable<SelectListItem>, new { @class = "select", @disabled = "true" })
                </span>
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model=>model.ExamineId,new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    @Html.DropDownListFor(model => model.ExamineId, ViewBag.ExamineList as IEnumerable<SelectListItem>, new {@class = "select", @disabled = "true" })
                </span>
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.Describe, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextAreaFor(model => model.Describe, new { @class = "textarea", @placeholder = "说点什么...最少输入10个字符",@datatype = "*10-100",@dragonfly = "true",@nullmsg = "备注不能为空！",@onKeyUp = "$.Huitextarealength(this,200)", @readonly = "true" })
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.Price, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(model => model.Price, new { @class = "input-text", @readonly = "true" })
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.Official, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(model => model.Official, new { @class = "input-text", @readonly = "true" })
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.AddTime, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(model => model.AddTime, new { @class = "input-text",@readonly="true" })
            </div>
        </div>
        <div class="row cl">
            @Html.LabelFor(model => model.ImgList, new { @class = "form-label col-xs-4 col-sm-2" })
            <div class="formControls col-xs-8 col-sm-9">
                @foreach (string img in Model.ImgList)
                {
                    <img src="@img"/>
                }
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

